<app-header></app-header>

<main class="content mx-auto">
  <section class="top-banner p-6 md:p-10 text-white shadow-xl relative">
    <h1 class="text-4xl font-bold mb-2">Pokédex Digital</h1>
    <p class="text-lg">
      Explore o mundo dos Pokémon com nossa Pokédex interativa.
      Descubra informações detalhadas sobre cada criatura.
    </p>
    <div class="stats-bar">
      <div>
        <span>{{ currentTeamCount }}</span>
        Pokémon (Equipe)
      </div>
      <div>
        <span>18</span>
        Tipos
      </div>
      <div>
        <span>9</span>
        Gerações
      </div>
    </div>
  </section>

  <section class="main-body">
    <div class="filter-header mb-6">
      <h2 class="text-2xl font-semibold mb-4">
        Pokémon Descobertos (Equipe: {{ currentTeamCount }} / 6)
      </h2>

      <div class="filter-buttons flex flex-wrap gap-2">
        <button mat-stroked-button [class.bg-gray-200]="selectedType === 'all'" (click)="filterByType('all')">
          Todos os Tipos
        </button>
        <button mat-stroked-button [class.bg-red-200]="selectedType === 'fire'" (click)="filterByType('fire')">
          Fogo
        </button>
        <button mat-stroked-button [class.bg-blue-200]="selectedType === 'water'" (click)="filterByType('water')">
          Água
        </button>
        <button mat-stroked-button [class.bg-green-200]="selectedType === 'grass'" (click)="filterByType('grass')">
          Grama
        </button>
        <button mat-stroked-button [class.bg-yellow-200]="selectedType === 'electric'"
          (click)="filterByType('electric')">
          Elétrico
        </button>
      </div>
    </div>

    <div *ngIf="isLoading" class="flex justify-center items-center h-40">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!isLoading && pokemons.length > 0" class="pokedex-grid">
      <app-pokemon-card *ngFor="let p of pokemons" [pokemon]="p" (onFavorite)="handleFavorite($event)"
        (onAddToTeam)="handleAddToTeam($event)">
      </app-pokemon-card>
    </div>

    <div *ngIf="!isLoading && pokemons.length === 0" class="text-center p-10 bg-gray-100 rounded-lg">
      <h3 class="text-xl text-gray-600">Nenhum Pokémon encontrado.</h3>
    </div>
  </section>
</main>